	<div class="span12">
		<ul class="thumbnails product-list-inline-small">
		
		<%@products.each do |product|%>
		<li class="span4">
			<div class="thumbnail">
				<%=link_to product do%>
				<img src="<%=product.cover_url(:normal)%>" height="100px" alt="product.name">
				<%end%>

				<div class="caption">
					<%=link_to product.name,product%>
					<p><%=product.content%> <span class="label label-important price pull-right"> <%=number_to_currency product.price,:unit=>'&yen'%>/ <%= product.unit%></span></p>
				</div>
			</div>
		</li>
		<%end%>


		</ul>
	</div>