<div id="sidebar">
	<ul>
		<li><a href="<%=admin_root_path%>"><i class="icon icon-home"></i> <span>Dashboard</span></a></li>
		

		<li class="submenu">
			<a href="#"><i class="icon icon-th-list"></i> <span>微信</span></a>
			<ul>
				<li><%=link_to("微信关键字设置",keywords_path)%></li>
				<li><%=link_to("微信消息日志",weixin_messages_path)%></li>
			</ul>
		</li>
		
		<li>
			<a href="<%=goods_path%>"><i class="icon icon-tint"></i> <span>商品管理</span></a>
		</li>	
		<li>
			<a href="<%=orders_path%>"><i class="icon icon-th-list"></i> <span>订单表格管理</span></a>
		</li>	
		<li>
			<a href="<%=admin_shopping_index_path%>"><i class="icon icon-file"></i> <span>客户订单管理</span></a>
		</li>	
	</ul>

</div>