
<%if mobile?%>

<div data-role="page" data-theme="a">
		<div data-role="header" data-position="inline" data-theme="b">
			<h1>上理果园</h1>
		</div>
		<div data-role="content" data-theme="c">
			<p>状态:营业中</p>
		</div>
		<div data-role="footer" data-position="fixed" data-tap-toggle="false" data-theme="b"> 
  		<div data-role="navbar"> 
  			<ul>
  				<li><a href="<%=root_path%>" data-icon="home">首页</a></li>
  				<li><a href="<%=products_path%>" data-icon="grid" class="ui-btn-active">购物</a></li>
  				<li><%=link_to "下单",@cart,"data-icon"=>"gear"%>
  			</ul>
  		</div><!-- /navbar -->
  	</div><!-- /footer -->
</div>

<%else%>
	<div class="row-fluid">
		<div class="span12">
			<div class="slider-wrapper theme-bar">
				<div class="ribbon"></div>
				<div id="slider1" class="nivoslider">
					<a href="#"><img src="/images/banner.jpg" alt="" title="上理果园为您提供安心、便利、平价的新鲜水果。"></a>
					<a href="#"><img src="/images/banner1.jpg" alt="" title=""></a>
				</div>
			</div>
		</div>
	</div>

	<%= render "shared/shop_top_recommend"%>

	<%= render_cell :products, :all %>	
<%end%>
