<xml>
	<ToUserName><![CDATA[<%= params[:xml][:FromUserName]%>]]></ToUserName>
	<FromUserName><![CDATA[<%= params[:xml][:ToUserName]%>]]></FromUserName>
	<CreateTime><%= Time.now.to_i %></CreateTime>
	<MsgType><![CDATA[news]]></MsgType>
	<ArticleCount><%=@order.product_order_items.size%></ArticleCount>
	<Articles>
		<%@order.product_order_items.each_with_index do |item,index|%>
		<item>
			<Title><![CDATA[<%=item.product.name%>]]></Title> 
			<Description><![CDATA[<%=raw item.product.content%>]]></Description>
			<%if index==0%>
			<PicUrl><![CDATA[<%=root_url+item.product.cover_url(:normal)%>]]></PicUrl>
			<%else%>
			<PicUrl><![CDATA[<%=root_url+item.product.cover_url(:small)%>]]></PicUrl>
			<%end%>
			<Url><![CDATA[<%=raw item.product.weixin_url %>]]></Url>
		</item>
		<%end%>
    </Articles>
</xml>