<xml>
	<ToUserName><![CDATA[<%= params[:xml][:FromUserName]%>]]></ToUserName>
	<FromUserName><![CDATA[<%= params[:xml][:ToUserName]%>]]></FromUserName>
	<CreateTime><%= Time.now.to_i %></CreateTime>
	<MsgType><![CDATA[news]]></MsgType>
	<ArticleCount><%=@order.goods_items.size%></ArticleCount>
	<Articles>
		<%@order.goods_items.each do |item|%>
		<item>
			<Title><![CDATA[<%=item.good.name%>]]></Title> 
			<Description><![CDATA[<%=item.good.content%>]]></Description>
			<PicUrl><![CDATA[http://162.243.131.153/uploads/good/cover/1/4457307_095158359191_2.jpg]]></PicUrl>
			<Url><![CDATA[<%=order_url(@order) %>]]></Url>
		</item>
		<%end%>
    </Articles>
</xml>