<div class="form">
<%= simple_form_for(@order,:html=>{:class=>"form-horizontal"}) do |f| %>
<%= render "shared/error_messages",:target=>@order%>
<legend>基本信息</legend>
<fieldset>
	<div class="control-group">
    	<%= f.label :name ,:class=>"control-label"%>
		<div class="controls">
    		<%= f.text_field :name %>
		</div>
  	</div>

	<div class="control-group">
    	<%= f.label :content ,:class=>"control-label"%>
		<div class="controls">
    		<%= f.text_field :content %>
		</div>
  	</div>

	<div class="control-group">
    	<%= f.label :publish,:class=>"control-label" %>
		<div class="controls">
    	<%= f.check_box :publish %>
		</div>
  	</div>
</fielset>
  <div class="actions">
		<div class="controls">
    <%= f.submit "提交", :class=> "btn btn-primary" %>
	<%= link_to '返回', orders_path ,:class => "btn"%>
	</div>
  </div>
<% end %>
</div> <!--end of class form-->


<div class="container-fluid">
	<legend>商品信息</legend>
  <div class="row-fluid">
    <div class="span6">
      	<table class="table">
			<thead>
				<th>商品库</th>
				<th>
			</thead>
			<tbody>

				<% @goods.each do |goods|%>
				<tr>
				<td><%=goods.name%></td>
					<td><%=button_to '增加',goods_items_path(:good_id=>goods,:order_id=>@order)%></td>
				</tr>
				<%end%>
			</tbody>
		</table>
    </div>
    <div class="span6">
      	<table class="table">
			<thead>
				<th>已包含商品</th>
				<th>
			</thead>
			<tbody>
				<% @order.goods_items.each do |item|%>
				<tr>
				<td><%=item.good.name%></td>
					<td><%=button_to '移除',goods_item_path(item),:method=>:delete%></td>
				</tr>
				<%end%>
			</tbody>
		</table>
    </div>
  </div>
</div>

