<%if mobile?%>

 <%=render "mobile"%>

<%else%>


<%= simple_form_for(@shopping) do |f| %>
<%= render "shared/error_messages",:target=>@shopping%>

<form>
<fieldset>
    <legend>
      <span class="form-name"><%=@order.name%></span>
      <small class="form-description"><p><%=@order.content%></p></small>
    </legend>
	<%@shopping.shopping_items.each do |item| %>
	<div class="goods-div">
		<div class="image-center">
		<%= image_tag item.good.cover_url(:normal)%>
		</div>
		<div class="name-dashed">
		<%= item.good.name%><br/>
		<small><%= item.good.content%></small>
		</div>
		<div class="number-container">
			<div class="price-rest">
				<div class="price" >
		          <td>	<p><%= number_to_currency item.good.price,:unit=>"￥"%>/<%= item.good.unit%></p></td>
				</div>
				<div class="rest">
					<p>库存信息</p>
				</div>
			</div>
			<div class="number-counter">
			 	<a href="javascript:void(0)" class="decrease"><i class="icon-minus"></i></a>
				<input type="text" style="width:20px" class="input-mini" readonly="true" 		name="goods[<%=item.good.id%>][count]" value="0" ></input>
				<a href="javascript:void(0)" class="increase "><i class="icon-plus"></i></a>
			</div>
		</div><!--end of container-->
	</div>
	<%end%>


</fieldset>
<div class="contact-info">
<legend>
您的联系方式
</legend>
<%= f.input :customer_name%>
<%= f.input :customer_address%>
<%= f.input :mobile_phone%>
<%= f.input :remark ,as: :text %>

	<%= f.submit "下单",:class=>"btn btn-success"%>
	<input name="order_id" type="text" value="<%=@order.id%>" class="hidden"></input>
</div>
<%end%>


<%end%>