<p id="notice"><%= notice %></p>

<div class="hero-unit">
  <h1> <%= @order.name %></h1>
  <p> <%= @order.content %></p>
</div>

<p>
  <strong>Publish:</strong>
  <%= @order.publish %>
</p>

<%=render :partial=> @order%>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
