<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @contact.user_id %>
</p>

<p>
  <strong>Province:</strong>
  <%= @contact.province %>
</p>

<p>
  <strong>City:</strong>
  <%= @contact.city %>
</p>

<p>
  <strong>District:</strong>
  <%= @contact.district %>
</p>

<p>
  <strong>Address:</strong>
  <%= @contact.address %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @contact.zipcode %>
</p>

<p>
  <strong>Home phone:</strong>
  <%= @contact.home_phone %>
</p>

<p>
  <strong>Mobile phone:</strong>
  <%= @contact.mobile_phone %>
</p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
