<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @cart.user_id %>
</p>
<table class="table">
	<thead>
		<tr>
			<th>商品名称</th>
			<th>数量</th>
			<th>小计</th>
		</tr>
	</thead>
	<tbody>
		<%@cart.shopping_items.each do |item|%>
		<tr>
			<td><%=item.good.name%></td>
			<td><%=item.count%></td>
			<td><%=item.amount%></td>
		</tr>
<%end%>
</tbody>

<table>
<%= link_to '结算', new_shopping_path %> |
<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %> |
<%= link_to 'Destroy', @cart, method: :delete, data: { confirm: 'Are you sure?' } %>
