<%= simple_form_for(@good) do |f| %>
<%= render "shared/error_messages",:target=>@good%>

  <div class="field">
    <%= f.input :cover %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.input :unit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
