<div class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">我的商品</a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	<%= link_to "新增商品",new_good_path%>
  </ul>
</div>
<div>
	
	
<table class="table">
  <thead>
    <tr>
      <th>图片</th>
      <th>名称</th>
      <th>介绍诶荣</th>
      <th>价格</th>
      <th>单位</th>
	  <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @goods.each do |good| %>
      <tr>
        <td><%= image_tag good.cover %></td>
        <td><%= link_to good.name, good %></td>
        <td><%= good.content %></td>
        <td><%= good.price %></td>
        <td><%= good.unit %></td>
        <td><%= link_to 'Edit', edit_good_path(good) %>
        <%= link_to 'Destroy', good, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>