
<div class="form">
<%= simple_form_for(@keyword,:html=>{:class=>"form-horizontal"}) do |f| %>
<%= render "shared/error_messages",:target=>@keyword%>
<legend>关键字信息</legend>
<fieldset>
	<div class="control-group">
    	<%= f.label :cate ,:class=>"control-label"%>
		<div class="controls">
    		<%= f.input :cate,:label=>false ,:collection=>Keyword::CATEGORIES %>
		</div>
  	</div>

	<div class="control-group">
    	<%= f.label :keywords ,:class=>"control-label"%>
		<div class="controls">
    		<%= f.text_field :keywords %>
		</div>
  	</div>

	<div class="control-group">
    	<%= f.label :reply_type,:class=>"control-label" %>
		<div class="controls">
    	<%= f.input :reply_type,:label=>false ,:collection=>Keyword::REPLY_TYPES%>
		</div>
  	</div>
	<div class="control-group">
    	<%= f.label :reply_content,:class=>"control-label" %>
		<div class="controls">
    	<%= f.text_field :reply_content %>
		</div>
  	</div>
</fielset>
  <div class="actions">
		<div class="controls">
    <%= f.submit "提交", :class=> "btn btn-primary" %>
	<%= link_to '返回', orders_path ,:class => "btn"%>
	</div>
  </div>
<% end %>
</div> <!--end of class form-->