<div class="hero-unit">
<h1>订单详细信息</h1>
</div>


<div class="form">
	<%if @shopping.user_id==nil%>
	 <h3>>>>该订单为非注册用户订单，请您务必记录下订单号信息<<<</h3>
	<%end%>
<h3>订单号:
	<%= @shopping.id %>
</h3>

<p>
  <strong>下单时间:</strong>
	<%=I18n.localize( @shopping.created_at,:format=>:long)%>
</p>
  <strong>客户名称:</strong>
  <%= @shopping.customer_name %>
</p

</p>
  <strong>联系电话:</strong>
  <%= @shopping.mobile_phone %>
</p

<p>
  <strong>客户地址:</strong>
  <%= @shopping.customer_address %>
</p>
<p>
  <strong>订单金额:</strong>
  <%=number_to_currency(@shopping.amount,:unit=>"&yen") %>
</p>
<p>
  <strong>备注信息:</strong>
  <%=@shopping.remark %>
</p>
<table class="table">
	<thead>
		<th>商品名称</th>
		<th>订购数量</th>
		<th>单价</th>
		<th>小计</th>
	</thead>
	<tbody>
		<% @shopping.shopping_items.each do |item|%>
			<tr>
				
				<td><%=item.good.name%></td>
				<td><%=item.count%> <%=item.good.unit%></td>
				<td><%=number_to_currency(item.good.price,:unit=>"&yen")%> / <%=item.good.unit%></td>
				<td><%=number_to_currency(item.amount,:unit=>"&yen")%></td>
			</tr>
		<%end%>
	</tbody>
</table>
<% if current_user%>
<% if current_user.admin?%>
<%= link_to '编辑', edit_shopping_path(@shopping),:class=>"btn btn-info" %>
<%end%>
<%end%>

<%= link_to '返回首页', root_path,:class=>"btn"  %>
</div>
