<div class="hero-unit">
<h1>我的客户订单</h1>
</div>


    <table class="table">
		  <thead>
		    <tr>
			  <th>订单编号</th>

		      <th>客户名称</th>
		      <th>客户地址</th>
		      <th>总金额</th>
		      <th>创建时间</th>
		      <th>
					<div class="btn-group">
				  		<button class="btn btn-success"><i class="icon-cog"></i></button>
				  		<button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
				    	<span class="caret"></span>
				  		</button>
				  		<ul class="dropdown-menu">
							<li><%= link_to '新增客户订单', new_shopping_path %></li>
						</ul>
					</div>
			</th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @shoppings.each do |shopping| %>
		      <tr>
					<td><%=shopping.id%></td>

		        <td><%= link_to shopping.customer_name, shopping %></td>
		        <td><%= shopping.customer_address %></td>
		        <td><%= number_to_currency(shopping.amount,:unit=>"￥") %></td>
				<td><%= shopping.mobile_phone%>
				<td><%= I18n.localize(shopping.created_at,:format=>:long)%></td>
		        <td>
					<div class="btn-group">
					  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					    操作
					    <span class="caret"></span>
					  </a>
					<ul class="dropdown-menu">
						<li><%= link_to '编辑', edit_shopping_path(shopping) %></li>
					<li>	<%= link_to '删除', shopping, method: :delete, data: { confirm: '你确定需要删除订单吗？' } %></li>
					</ul>
					</div>

		</td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
		<%=will_paginate @shoppings%>
  </div>

