<div data-role="page" data-theme="a">
		<div data-role="header" data-position="inline" data-theme="b">
			<h1>上理果园</h1>
		</div>
		<div data-role="content" data-theme="c">
			
			<%if notice%>
			<div class="alert alert-info fade in">
				<a class="close" data-dismiss='alert' href="#">x</a>
				<p id="notice"><%= notice %></p>
			</div>
			<%end%>
			<%if alert%>
			<div class="alert alert-block alert-error">
				<a class="close" data-dismiss='alert' href="#">x</a>
				<p id="notice"><%= alert %></p>
			</div>
			<%end%>
			<div class="content-primary">	
						
						
						<%@product_cates.each do |cate|%>
						<div data-role="collapsible" data-theme="g" data-content-theme="c"  data-inset="false">
						
							<h4><%=cate.name%> (<%=cate.products.size%>)</h4>
          		<ul data-role="listview">
						
							<%cate.products.each do |product| %>
								<li>
									<%= link_to product do%>
										<%=image_tag product.cover_url(:normal),:class=>"ui-li-thumb"%>
										<h3><%=product.name%></h3>
										<p>单价:<font color="red"><%= number_to_currency product.price,:unit=>"￥"%>/<%= product.unit%></font></p>
									<%end%>
								</li>
							<%end%>
							</ul>
							</div>
						<%end%>


							
					</div><!--/content-primary -->		
		</div>
		<div data-role="footer" data-position="fixed" data-tap-toggle="false" data-theme="b"> 
  		<div data-role="navbar"> 
  			<ul>
  				<li><a href="<%=root_path%>" data-icon="home" data-transition="none"  >首页</a></li>
  				<li><a href="<%=products_path%>" data-icon="grid" class="ui-btn-active" data-transition="none" >购物</a></li>
  				<li><%=link_to "下单",@cart,"data-icon"=>"gear" ,"data-transition"=>"none" %>
  			</ul>
  		</div><!-- /navbar --> 
  	</div><!-- /footer -->
</div>



 
<script>
$(document).ready(function() {
});
</script>