<div data-role="page">

	<div data-role="header"  data-theme="b">
		<h1><%=@product.name%></h1>
	</div><!-- /header -->

	<div data-role="content">	
		<%if notice%>
		<div class="alert alert-info fade in">
			<a class="close" data-dismiss='alert' href="#">x</a>
			<p id="notice"><%= notice %></p>
		</div>
		<%end%>
		<%if alert%>
		<div class="alert alert-block alert-error">
			<a class="close" data-dismiss='alert' href="#">x</a>
			<p id="notice"><%= alert %></p>
		</div>
		<%end%>
		
		<%=image_tag(@product.cover_url(:normal))%>
		<h3>单价:<font color="red"><%= number_to_currency @product.price,:unit=>"￥"%>/<%= @product.unit%></font></h3>
		
		<p><%=raw @product.body_html%></p>	
		
			<%= form_for(ShoppingItem.new ,:html=>{:class=>'form-inline','data-ajax'=>"false"} ) do |f| %>
     	<%=f.hidden_field :product_id,:value=>@product.id%>
				<label  class="control-label">数量</label>
    		<input value="<%=@product.id%>" name="product_id" class="hide"/>
				 <select class="input-mini" name="count">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
				<button type="submit" data-role="button" data-theme="b" name="submit">加入购物车</button>
				
    	 <%end%>
	</div><!-- /content -->
	
	<div data-role="footer" >
		<div data-role="navbar"> 
			<ul>
				<li><a href="<%=root_path%>" data-icon="home" data-transition="none"  >首页</a></li>
				<li><a href="<%=products_path%>" data-icon="grid" class="ui-btn-active" data-transition="none" >购物</a></li>
				<li><%=link_to "下单",@cart,"data-icon"=>"gear" ,"data-transition"=>"none" %>
			</ul>
		</div><!-- /navbar -->
	</div>
</div><!-- /page -->
