<div id="goods_container" class="container shadow">
<div class="goods_head">
		<h1><%= @product.name%></h1>
		<h2><%= @product.content%></h2>
		<ul id="myTab" class="nav nav-pills">
		  <li class="active"><%=link_to "商品信息",product_url(@good)%></li>
		  <li><%=link_to "谁买了",buyer_product_url(@good)%></li>	
		
		  <li ><%=link_to "评价&留言",comments_product_url(@good)%></li>		
		
		</ul>
</div>
<div class="goods_body">
	<div class="row">
		<div class="span9">
			<div id="main">
				<%=carousel_tag @product%>
				<div id="body-html">
				<%=raw @product.body_html%>

			</div>
			</div>

		</div>
		<div id="sidebar" class="span3">
			<div class="price">
	  			 <%= number_to_currency(@product.price,:unit=>"&yen") %> / <%= @product.unit %>
			</div>
			<div class="buy">
				<%= simple_form_for(ShoppingItem.new) do |f| %>
				<div class="number-counter">
					 <%=f.input :product_id,:input_html=>{:value=>@product.id} ,:as=>:hidden%>
				  
				 	<a href="javascript:void(0)" class="decrease"><i class="icon-minus"></i></a>
				
					<input type="text"class="input-mini" readonly="true" name="count" value="1" ></input>
					<a href="javascript:void(0)" class="increase "><i class="icon-plus"></i></a>
				</div>
				<input value="<%=@product.id%>" name="product_id" class="hide"/>
				<%=f.submit "购买",:class=>'btn btn-primary'%>
				<%end%>
			</div>
		</div>
</div>

</div>