
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Unicorn Admin</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	  	<%= stylesheet_link_tag    "admin/admin", media: "all", "data-turbolinks-track" => false %>
	  	<%= javascript_include_tag "admin/admin", "data-turbolinks-track" => false %>
	  	<%= csrf_meta_tags %>	
	</head>
	<body>
		
		
		<div id="header">
			<h1><a href="./dashboard.html">Unicorn Admin</a></h1>		
		</div>
		

		<%=render 'shared/admin_nav'%>
            
		<%=render 'shared/admin_sidebar'%>
		
		<div id="content">
			<div id="content-header">
				<h1><%=yield :title%></h1>
			</div>
			<div id="breadcrumb">
				<a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
				<a href="#" class="current">Tables</a>
			</div>


			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<%=yield%>
					</div>
				</div>
				
				<div class="row-fluid">
					<div id="footer" class="span12">
						2013 &copy; NewNil Software
					</div>
				</div>
			</div>
		</div>
		
		
 
	</body>
</html>
