<!DOCTYPE html>
<html>
<head>
  <title>WeOder - 微单</title>


  <% if mobile? %>
	<script src="/assets/jquery-1.8.2.min.js"></script>
	<script src="/assets/jquery.mobile-1.2.0.min.js"></script>
	
    <%= stylesheet_link_tag "mobile" %>
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta content='True' name='HandheldFriendly' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="apple-touch-icon-precomposed" href="<%= asset_path("ios-icon.png") %>" />

  <%else%>
  	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>
  <% end %>
</head>
<body>
  
	<div class="container root_container">
		<% unless mobile? %>
	  
		<div class="navbar navbar-fixed-top navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<ul class="nav">
						<li><%= link_to("首页",root_path,:method=>:get)%></li>
						<%if @cart!=nil%>
						
						<li>
						<%= link_to("购物车",@cart,:method=>:get)%></li>
						<%if @cart.shopping_items.size>0%>
						<li><span class="badge badge-success"><%=@cart.shopping_items.size%></span></li>
						<%end%>
						<%end%>
						
					</ul>
					<ul class="nav pull-right">
						<% if current_user %>
							<% if current_user.admin? %>
								<li><%=link_to("管理" ,admin_root_path,:method=>:get)%></li>
								<li><%= link_to("微关关键字回复",keywords_path)%>
								
								<li><%= link_to "商品管理",goods_path%>
								<li><%= link_to("订单表格管理",orders_path)%>	
								<li><%= link_to("客户订单管理",shoppings_path)%>
							<%end%>
	
							<li><%=link_to("我的账户" ,user_path(current_user),:method=>:get)%></li>

							<li><%=link_to("登出" ,destroy_user_session_path,:method=>:delete)%></li>
							<%else%>
							<li><%= link_to("登陆",new_user_session_path,:method=>:get)%></li>
							<%end%>
                		</ul>
					</div>
				</div>
			</div>
		<div id="content" class="container">
			<%if notice%>
			<div class="alert alert-info fade in">
				<a class="close" data-dismiss='alert' href="#">x</a>
				<p id="notice"><%= notice %></p>
			</div>
			<%end%>
			<%if alert%>
			<div class="alert alert-block alert-error">
				<a class="close" data-dismiss='alert' href="#">x</a>
				<p id="notice"><%= alert %></p>
			</div>
			<%end%>
			<%= yield %>
		</div>
	</div>
		
		<footer class="footer">
				<ul>
					<li>About</li>
					<li>关注我们的微博</li>
					<li>Alpha 0.1</li>
				</ul>
		</footer>

		<%else%>
		<%= yield %>
		<%end%>

</body>

</html>
