<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="nl"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="nl"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="nl"><![endif]-->
<!--[if IE]><html class="no-js ie" lang="nl"><![endif]-->
<!--[if !IE]><!--><html class="no-js" lang="nl"><!--<![endif]-->

<html>	
	<head>
		<meta charset="utf-8">
		<title>上理果园</title>
		<meta name="description" content="Page description here">
		<meta name="author" content="BigBase - D. Tiems">
		<meta name="viewport" content="width=device-width">
		<meta name="Keywords" content="上理果园,上海理工,新鲜水果,水果,上理,学生创业" />
		<meta name="Description" content="上理果园,新鲜直达" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta content='True' name='HandheldFriendly' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="apple-touch-icon-precomposed" href="<%= asset_path("ios-icon.png") %>" />


  	<%= stylesheet_link_tag   "shop"%>
  	<%= javascript_include_tag "shop"%>

  	<%= csrf_meta_tags %>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=McLaren">
	</head>
	<body data-controller-name="<%= controller_name%>">
		<div class="container">

			<div class="well">
				<h3>上理果园自2014年1月1日暂停营业</h3>
				<p>短暂的分离是为了将来能为您提供更好的服务，感谢您一直以来对我们的关注。</p>
				<p>不要换台，下学期更精彩。</p>
				<p>关注我们的微信号，收听我们的最新消息</p>
				<img src="/images/weixin.jpg" />
			</div>
		</div>
	</body>
</html>